<footer class="bd-footer py-5 mt-5 bg-dark rgb2" id="footer-whole">
	<div class="container py-5">
		<div class="row" id="footer-content">
			<div class="col-lg-3 offset-lg-2 mb-3" style="text-align: center;">
				<a href="/" class="d-inline-flex align-items-center mb-2 link-light text-decoration-none">
					<img src="../../public/img/botçuk logo.png" width="80" alt="Logo">
					<span style=" font-size: 2em;"><b>BOTÇUK</b></span>
					<a href="//www.dmca.com/Protection/Status.aspx?ID=9dbea4d3-90e8-4404-8654-72f8c9e68004" title="DMCA.com Protection Status" class="dmca-badge"> <img src ="https://images.dmca.com/Badges/dmca-badge-w250-2x1-04.png?ID=9dbea4d3-90e8-4404-8654-72f8c9e68004"  alt="DMCA.com Protection Status" /></a>  <script src="https://images.dmca.com/Badges/DMCABadgeHelper.min.js"> </script>
				</a>

			</div>
			<div class="col-6 col-lg-3 offset-lg-1 mb-3" >
				<h5 style="text-align: center;">LİNKLER</h5>
				<ul class="list-unstyled" style="text-align: center;">
					<li class="mb-1">
						<a class="text-decoration-none link-light" href="/">Ana Sayfa&nbsp;</a>
					</li>
					<li class="mb-1">
						<a class="text-decoration-none link-light" href="/dashboard">Kontrol Paneli&nbsp;</a>
					</li>
					<li class="mb-1">
						<a class="text-decoration-none link-light" href="/terms-of-service">Kullanım Koşulları</a>
					</li>
					<li class="mb-1">
						<a class="text-decoration-none link-light" href="/privacy-policy">Gizlilik politikası</a>
					</li>
					<li class="mb-1">
						<a class="text-decoration-none link-light" href="<%- botconfig.domain %>/vote" target="_blank">Oy Ver&nbsp;</a>
					</li>
				</ul>
			</div>
			<div class="col-6 col-lg-2 mb-3" >
				<h5 style="text-align: center;">BAĞLANTILAR</h5>
				<ul class="list-unstyled" style="text-align: center;">
					<li class="mb-2">
						<a class="text-decoration-none link-light" href="<%- botconfig.domain %>/support" target="_blank">Discord Sunucumuz&nbsp;</a>
					</li>
					<li class="mb-1" style="color: #212529">
						<button type="button" class="btn" onclick="secret()" data-bs-toggle="modal" data-bs-target="#secretModal">Gizli!</button>
					</li>
				</ul>
			</div>
		</div>
	</div>	
</footer>
	 <!-- ======= Footer ======= -->
	 <footer id="footer" class="footer">
 
		<div class="container">
		  <div class="copyright">
			&copy; Copyright <strong><span>BOTÇUK</span></strong> <%= year = new Date().getFullYear() %><br>Tüm Hakları Saklıdır.
		  </div>
		  <div class="credits">
			<!-- All the links in the footer should remain intact. -->
			<!-- You can delete the links only if you purchased the pro version. -->
			<!-- Licensing information: https://bootstrapmade.com/license/ -->
			<!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/flexstart-bootstrap-startup-template/ -->
			<a href="/dev">Herzane</a> Tarafından Tasarlandı 
		  </div>
		</div>
	  </footer><!-- End Footer -->




	  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="../../../public/assets/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="../../../public/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../../../public/assets/vendor/chart.js/chart.umd.js"></script>
  <script src="../../../public/assets/vendor/echarts/echarts.min.js"></script>
  <script src="../../../public/assets/vendor/quill/quill.min.js"></script>
  <script src="../../../public/assets/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="../../../public/assets/vendor/tinymce/tinymce.min.js"></script>

  <script>
	 tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
  var tooltipList = tooltipTriggerList.map(function(tooltipTriggerEl) {
    return new bootstrap.Tooltip(tooltipTriggerEl)
  })
  </script>
  <!-- Template Main JS File -->
  <script src="../../../public/js/panel/main.js"></script>
