<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
  
	<meta content="" name="description">
	<meta content="" name="keywords">
  
	<!-- Favicons -->
	<link href="../public/img/botçuk logo.png" rel="icon">
	<link href="../public/img/botçuk logo.png" rel="apple-touch-icon">
  
	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  
	<!-- Vendor CSS Files -->
	<link href="../public/assets/vendor/aos/aos.css" rel="stylesheet">
	<link href="../public/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="../public/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
	<link href="../public/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
	<link href="../public/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
	<link href="../public/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  
	<!-- Template Main CSS File -->
	<link href="../public/css/site/style.css" rel="stylesheet">
	<link href="../public/css/index.css" rel="stylesheet">
  
	<!-- =======================================================
	* Template Name: FlexStart
	* Updated: Mar 10 2023 with Bootstrap v5.2.3
	* Template URL: https://bootstrapmade.com/flexstart-bootstrap-startup-template/
	* Author: BootstrapMade.com
	* License: https://bootstrapmade.com/license/
	======================================================== -->
	<title>Botçuk | Gizlilik Politikası</title>
	<style>
		.lavanta{
			color: #d4b0c4;
		}
		p{
			color: #9c9c9c;
		}
		ul{
			list-style-type:decimal;
			color: #717171;
		}
		li{
			margin: 5px;
		}
	</style>
</head>
<body class="rgb">
	<div style="min-height: 10vh;">
		<%- await include('partials/header.ejs'); %>
		</div>
					<div class="container">
						<div class="row text-white">
							<div class="col-md-12 pt-4">
									<div class="text-center">
										<h1 class="text-3xl font-extrabold">Gizlilik Politikası
										</h1> <p class="lavanta">Son güncellenme: 05/08/2023
										</p>
									</div> 
								<p>
									Bu gizlilik politikası, Botçuk adlı discord botu ve web sitesi için geçerlidir. Botçuk, discord sunucularını korumak için tehlikeli olabilecek botlardan koruyan, kullanıcıları kayıt etmek için bir özelliği olan ve küçük birkaç özelliği daha olan bir sunucu koruma botudur. Botçuk’u kullanan veya web sitesini ziyaret eden herkes, bu gizlilik politikasını kabul etmiş sayılır. Bu gizlilik politikası, Botçuk’un hangi verileri nasıl topladığını, kullandığını, sakladığını ve paylaştığını açıklar. Ayrıca, verilerinizin güvenliğini nasıl sağladığımızı ve verilerinizle ilgili haklarınızı nasıl kullanabileceğinizi de belirtir. Gizlilik politikamız hakkında herhangi bir sorunuz veya yorumunuz varsa, discord destek sunucumuza uğrayabilir veya <a href="mailto:herzane@botcuk.com.tr">herzane@botcuk.com.tr</a> adresine bir E-posta gönderin.
								</p>
<p>
											Discord’un kendi gizlilik politikasını da okumanızı tavsiye ederiz. Discord, sizin ve diğer kullanıcıların verilerini nasıl topladığını, kullandığını, sakladığını ve paylaştığını açıklar. Ayrıca, Discord’un sunduğu hizmetlerden yararlanırken verilerinizle ilgili haklarınızı ve sorumluluklarınızı da belirtir. Discord’un gizlilik politikasına <a href="https://discord.com/terms" target="_blank" rel="noopener noreferrer">buradan</a> ulaşabilirsiniz

								</p>
							<h2 class="lavanta">Veri Toplama</h2>
							<p>
								Botçuk, web sitesini ziyaret ettiğinizde veya botu kullandığınızda sizden bazı veriler toplayabilir. Bu veriler şunları içerebilir:
							</p>
							<ul>
								<li>IP adresiniz, tarayıcı türünüz, cihaz türünüz, işletim sisteminiz ve diğer teknik bilgiler.
								</li>
								<li>Web sitesinde gezinme davranışlarınız, ziyaret ettiğiniz sayfalar, tıkladığınız bağlantılar ve diğer istatistiksel bilgiler.
								</li>
								<li>Botu kullandığınızda discord sunucunuzun adı, ID’si, üyeleri, rolleri ve diğer ayarları.
								</li>
								<li>Botu kullandığınızda discord hesabınızın adı, ID’si, avatarı ve diğer profil bilgileri.
								</li>
								<li>Bot ile yaptığınız etkileşimler, gönderdiğiniz mesajlar, kullandığınız komutlar ve diğer aktiviteler.
								</li>
							</ul>
							<p>Bu verileri toplamamızın amacı şunlardır:
							</p>
							<ul>
								<li>Web sitesini ve botu iyileştirmek, hataları gidermek ve yeni özellikler eklemek.
								</li>
								<li>Sizinle iletişim kurmak, destek sağlamak ve geri bildirim almak.
								</li>
								<li>Web sitesinde ve botda size kişiselleştirilmiş bir deneyim sunmak.
								</li>
								<li>Web sitesinde Google Adsense reklamları göstermek.
								</li>
								<li>Discord sunucunuzu korumak için tehlikeli botları tespit etmek ve engellemek.
								</li>
								<li>Kullanıcıları kayıt etmek için bir özellik sunmak.
								</li>
								<li>Küçük birkaç özelliği daha sağlamak.
								</li>
							</ul>
							<h2 class="lavanta">Veri Saklama</h2>
							<p>Topladığımız verileri MongoDB veritabanında saklıyoruz. MongoDB, güvenli, esnek ve ölçeklenebilir bir veritabanı hizmetidir. MongoDB’nin gizlilik politikasını <a href="https://www.mongodb.com/legal/privacy-policy" target="_blank">buradan</a> okuyabilirsiniz.
							</p>
							<p>Verilerinizi yalnızca gerekli olduğu sürece saklıyoruz. Web sitesindeki verileri, web sitesini iyileştirmek için kullanıyoruz ve en fazla 12 ay boyunca saklıyoruz. Botdaki verileri, botu çalıştırmak için kullanıyoruz ve en fazla 6 ay boyunca saklıyoruz. Kullanıcılara ait verileri toplamıyoruz veya toplasanız bile anlık olarak botun bazı discord etkileşimlerini tespit etmek için kullanıyoruz ve 10 saniye sonra veya 30 saniye sonra siliyoruz.
							</p>
							<h2 class="lavanta">Veri Paylaşma</h2>
							<p>Verilerinizi üçüncü taraflarla paylaşmıyoruz, ancak bazı istisnalar olabilir. Bu istisnalar şunlardır:
							</p>
							<ul>
								<li>Web sitesinde Google Adsense reklamları kullandığımız için, Google’ın gizlilik politikasına uymanız gerekmektedir. Google Adsense, web sitesinde size ilgi alanlarınıza göre reklamlar gösteren bir hizmettir. Google, bu reklamları göstermek için sizden bazı veriler toplayabilir. Google’ın gizlilik politikasını <a target="_blank" href="https://support.google.com/adsense/answer/10924669?hl=tr">buradan</a> okuyabilirsiniz.
								</li> 
								<li>Yasal bir zorunluluk olması veya hukuki bir talep gelmesi halinde, verilerinizi ilgili makamlarla paylaşabilir.
								</li>
							</ul>
						</div>
					</div>
				</div>

		</div>





	<%- await include('partials/footer.ejs'); %>
</body>
</html>
