<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<meta content="" name="description">
	<meta content="" name="keywords">
  
	<!-- Favicons -->
	<link href="../public/img/botçuk logo.png" rel="icon">
	<link href="../public/img/botçuk logo.png" rel="apple-touch-icon">
  
	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  
	<!-- Vendor CSS Files -->
	<link href="../public/assets/vendor/aos/aos.css" rel="stylesheet">
	<link href="../public/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="../public/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
	<link href="../public/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
	<link href="../public/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
	<link href="../public/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  
	<!-- Template Main CSS File -->
	<link href="../public/css/site/style.css" rel="stylesheet">
	<link href="../public/css/index.css" rel="stylesheet">
  
	<!-- =======================================================
	* Template Name: FlexStart
	* Updated: Mar 10 2023 with Bootstrap v5.2.3
	* Template URL: https://bootstrapmade.com/flexstart-bootstrap-startup-template/
	* Author: BootstrapMade.com
	* License: https://bootstrapmade.com/license/
	======================================================== -->
	<title>Botçuk | Kullanım Şartları</title>
	
	<style>
		.lavanta{
			color: #d4b0c4;
		}
		p{
			color: #9c9c9c;
		}
		ul{
			list-style-type:decimal;
			color: #717171;
		}
		li{
			margin: 5px;
		}
	</style>
</head>
<body class="rgb">
	<div style="min-height: 10vh;">
		<%- await include('partials/header.ejs'); %>
</div>
			<div class="container">
				<div class="row text-white">
					<div class="col-md-12 pt-4">
						<div class="text-center">
							<h1 class="text-3xl font-extrabold">Kullanım Koşulları</h1>
							<p class="lavanta">Son güncellenme: 05/08/2023</p>
						</div>
						<p>Bu kullanım koşulları, Botçuk adlı discord botu ve web sitesi için geçerlidir. Botçuk, discord sunucularını korumak için tehlikeli olabilecek botlardan koruyan, kullanıcıları kayıt etmek için bir özelliği olan ve küçük birkaç özelliği daha olan bir sunucu koruma botudur. Botçuk'u kullanan veya web sitesini ziyaret eden herkes, bu kullanım koşullarını kabul etmiş sayılır. Bu kullanım koşulları, web sitesini ve botu nasıl kullanabileceğinizi, hangi haklara ve sorumluluklara sahip olduğunuzu, hangi yasalara ve kurallara uymanız gerektiğini ve web sitesi veya bot sahibinin hangi haklara ve yetkilere sahip olduğunu açıklar. Kullanım koşullarımız hakkında herhangi bir sorunuz veya yorumunuz varsa, discord destek sunucumuza uğrayabilir veya <a href="mailto:herzane@botcuk.com.tr">herzane@botcuk.com.tr</a> adresine bir E-posta gönderin.</p>
						<h2 class="lavanta">Web Sitesini ve Botu Nasıl Kullanabilirsiniz?</h2>
						<p>Web sitesini ve botu kullanmak için aşağıdaki şartları kabul etmeniz gerekir:</p>
						<ul>
							<li>Web sitesini veya botu yalnızca yasal amaçlarla kullanacaksınız.</li>
							<li>Web sitesinin veya botun çalışmasını engelleyecek, bozacak veya zarar verecek herhangi bir eylemde bulunmayacaksınız.</li>
							<li>Web sitesinin veya botun güvenliğini ihlal edecek, verilerini çalacak veya manipüle edecek herhangi bir eylemde bulunmayacaksınız.</li>
							<li>Web sitesinin veya botun içeriğini kopyalayacak, dağıtacak, değiştirecek veya başka bir şekilde kullanmayacaksınız.</li>
							<li>Web sitesinde veya botda sunulan hizmetleri kötüye kullanmayacak, suiistimal etmeyecek veya başkalarına zarar verecek herhangi bir eylemde bulunmayacaksınız.</li>
							<li>Web sitesinde veya botda sunulan hizmetleri ticari amaçlarla kullanmayacak, satmayacak, kiralamayacak veya lisanslamayacaksınız.</li>
							<li>Web sitesinde veya botda sunulan hizmetleri kendi web sitenizde veya uygulamanızda göstermeyecek, gömmecek veya yeniden yönlendirmeyeceksiniz.</li>
							<li>Web sitesinde veya botda sunulan hizmetleri kendi web sitenizin veya uygulamanızın bir parçasıymış gibi göstermeyecek, tanıtmayacak veya reklamını yapmayacaksınız.</li>
							<li>Web sitesinde veya botda sunulan hizmetlerin kaynağını gizlemeyecek, değiştirmeyecek veya sahiplenmeyeceksiniz.</li>
							<li>Web sitesinde veya botda sunulan hizmetlerin marka adını, logosunu, sloganını veya diğer tescilli unsurlarını kullanmayacak, taklit etmeyecek veya ihlal etmeyeceksiniz.</li>
						</ul>
						<p>Bu şartlara uymadığınız takdirde, web sitesini ve botu kullanma hakkınızı kaybedebilir, web sitesinden veya botdan yasaklanabilir, hukuki yaptırımlara maruz kalabilir ve zararlarınızı tazmin etmekle yükümlü olabilirsiniz.</p>
						<h2 class="lavanta">Hangi Haklara ve Sorumluluklara Sahipsiniz?</h2>
						<p>Web sitesini ve botu kullanarak aşağıdaki haklara ve sorumluluklara sahip olduğunuzu kabul edersiniz:</p>
						<ul>
							<li>Web sitesini ve botu kendi sorumluluğunuzda kullanırsınız. Web sitesinin veya botun çalışmasından, güvenliğinden, doğruluğundan veya uygunluğundan sorumlu değiliz. Web sitesini veya botu kullanmanızın sonuçlarından da sorumlu değiliz.</li>
							<li>Web sitesinde ve botda sunulan hizmetlerin kalitesinden, performansından, güncelliğinden veya eksiksizliğinden sorumlu değiliz. Web sitesinde ve botda sunulan hizmetlerin kesintiye uğramayacağını, hatasız olacağını, virüssüz olacağını veya güvenilir olacağını garanti etmiyoruz.</li>
							<li>Web sitesinde ve botda sunulan hizmetlerin değiştirilmesi, durdurulması veya kaldırılması hakkımız saklıdır. Bu durumlarda size herhangi bir bildirimde bulunmak zorunda değiliz. Bu durumlardan dolayı size karşı herhangi bir sorumluluğumuz yoktur.</li>
							<li>Web sitesinde ve botda sunulan hizmetleri kullandığınızda bize bazı verilerinizi vermiş olursunuz. Bu verilerin neler olduğunu, nasıl topladığımızı, kullandığımızı, sakladığımızı ve paylaştığımızı gizlilik politikamızda açıkladık. Gizlilik politikamızı okuduğunuzu ve kabul ettiğinizi varsayıyoruz. Gizlilik politikamızla ilgili herhangi bir sorunuz varsa bize ulaşabilirsiniz.</li>
							<li>Verilerinizin güvenliğini sağlamak için makul önlemler aldığımızı, ancak verilerinizin tamamen güvende olduğunu garanti edemediğimizi kabul edersiniz. Verilerinizin kaybolması, çalınması veya zarar görmesi durumunda bize haber vermeniz gerektiğini kabul edersiniz. Bu durumlardan dolayı size karşı herhangi bir sorumluluğumuz yoktur.</li>
							<li>Web sitesinde ve botda sunulan hizmetlerin size ait olmadığını, yalnızca size sınırlı bir kullanım hakkı verildiğini kabul edersiniz. Web sitesinde ve botda sunulan hizmetlerin telif hakkı, ticari marka, patent ve diğer fikri mülkiyet hakları bize veya ilgili sahiplerine aittir. Bu hakları ihlal etmeyeceğinizi kabul edersiniz.</li>
							<li>Web sitesinde ve botda sunulan hizmetlerden yararlanırken başkalarının haklarına, gizliliğine, onuruna ve itibarına saygı duyacağınızı kabul edersiniz. Başkalarına hakaret, taciz, tehdit, iftira veya başka bir şekilde zarar vermeyeceğinizi kabul edersiniz.</li>
							<li>Web sitesinde ve botda sunulan hizmetlerden yararlanırken yasalara, kurallara ve ahlaka uyacağınızı kabul edersiniz. Yasadışı, suçlu, zararlı, rahatsız edici veya başka bir şekilde uygun olmayan herhangi bir eylemde bulunmayacağınızı kabul edersiniz.</li>
						</ul>
						<h2 class="lavanta">Hangi Haklara ve Yetkilere Sahibiz?</h2>
						<p>Web sitesini ve botu sunarak aşağıdaki haklara ve yetkilere sahip olduğumuzu kabul edersiniz:</p>
						<ul>
							<li>Web sitesini ve botu istediğimiz zaman değiştirmek, durdurmak veya kaldırmak hakkımız saklıdır. Bu durumlarda size herhangi bir bildirimde bulunmak zorunda değiliz. Bu durumlardan dolayı size karşı herhangi bir sorumluluğumuz yoktur.</li>
							<li>Web sitesinde ve botda sunulan hizmetleri istediğimiz zaman değiştirmek, durdurmak veya kaldırmak hakkımız saklıdır. Bu durumlarda size herhangi bir bildirimde bulunmak zorunda değiliz. Bu durumlardan dolayı size karşı herhangi bir sorumluluğumuz yoktur.</li>
							<li>Web sitesinde ve botda sunulan hizmetleri kullanma hakkınızı istediğimiz zaman iptal etmek, sınırlamak veya askıya almak hakkımız saklıdır. Bu durumlarda size herhangi bir bildirimde bulunmak zorunda değiliz. Bu durumlardan dolayı size karşı herhangi bir sorumluluğumuz yoktur.</li>
							<li>Web sitesinde ve botda sunulan hizmetleri kullanırken yaptığınız eylemleri izlemek, kaydetmek, denetlemek ve raporlamak hakkımız saklıdır. Bu eylemler yasalara, kurallara veya ahlaka aykırı ise bunları ilgili makamlara bildirmek hakkımız saklıdır.</li>
							<li>Web sitesinde ve botda sunulan hizmetleri kullanırken yaptığınız eylemlerden dolayı size veya başkalarına zarar verdiğimiz iddiasıyla bize karşı herhangi bir dava açmayacağınızı kabul edersiniz. Bu durumlarda size karşı herhangi bir sorumluluğumuz yoktur.</li>
							<li>Web sitesinde ve botda sunulan hizmetlerin telif hakkı, ticari marka, patent ve diğer fikri mülkiyet haklarının bize veya ilgili sahiplerine ait olduğunu kabul edersiniz. Bu hakları korumak için gerekli her türlü yasal işlemi yapmak hakkımız saklıdır.</li>
						</ul>
						<h2 class="lavanta">Kullanım Koşullarında Yapılan Değişiklikler</h2>
						<p>Kullanım koşullarımızda istediğimiz zaman değişiklik yapma hakkımız saklıdır. Kullanım koşullarımızda yaptığımız değişiklikleri web sitemizde veya botumuzda duyuracağız. Kullanım koşullarımızda yaptığımız değişiklikleri kabul etmediğiniz takdirde, web sitemizi ve botumuzu kullanmayı bırakmanız gerektiğini kabul edersiniz.</p>
						<p>Kullanım koşullarımızın son güncellenme tarihi sayfanın başında belirtilmiştir. Bu tarihten sonra web sitemizi veya botumuzu kullanmaya devam etmeniz, kullanım koşullarımızdaki değişiklikleri kabul ettiğiniz anlamına gelir.</p>
						<h2 class="lavanta">İletişim</h2>
						<p>Kullanım koşullarımız hakkında herhangi bir sorunuz veya yorumunuz varsa, lütfen bize ulaşın. Bize discord destek sunucumuza uğrayarak veya <a href="mailto:herzane@botcuk.com.tr">herzane@botcuk.com.tr</a> adresine bir E-posta göndererek ulaşabilirsiniz.</p>
					</div>
				</div>
			</div>




	<%- await include('partials/footer.ejs'); %>
</body>
</html>
