<script>
	function secret() {
		const modalimg = document.getElementById("secretModalImg");

		fetch("https://discord.gg/WVe9xcFAFn")
			.then(response => response.json())
			.then(data => {
				const img = data.image;
				modalimg.src = img;
			});
	}
</script>

<div class="modal fade" id="secretModal" tabindex="-1" aria-labelledby="secretModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header bg-dark text-white">
				<h5 class="modal-title" id="secretModalLabel">GİZLİ BİR BİLGİ</h5>
				<button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
		</div>
		<div class="modal-body bg-dark text-white container">
			<img src="../public/assets/botçuk logo.png" alt="raccoon" id="secretModalImg" style="width: 100%; max-width: 500px;">
		</div>
		<div class="modal-footer bg-dark text-white">
			Bu gizli ekranı bulduğunuza göre size gizli bir sır vereyim sır.
		</div>
	</div>
</div>